:root {
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

h1, li {
    display: flex;
    justify-content: center;
}

button {
    display: block;
    justify-content: center;
    color: white;
    background-color: #664E88;
    border-radius: 10px;
}
 
.start {
    display: flex;
    justify-content: center;
}

